@import "tailwindcss";

.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main{
    flex: 1;
}
/* 
body {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='noise'><feTurbulence baseFrequency='0.9' stitchTiles='stitch' /></filter><rect width='100%' height='100%' filter='url(#noise)'/></svg>");
    opacity: 1;
} 
*/
